<html>
<head>
    <meta charset="utf-8">
    <title>WP lab - Confirmation Info</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Balloon Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td><th:block th:utext="${#session.getAttribute('clientName')}"></th:block></td>
        </tr>
        <tr>
            <td><b>Client Address </b></td>
            <td><th:block th:utext="${#session.getAttribute('clientAddress')}"></th:block></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td><th:block th:utext="${#request.getRemoteAddr()}"></th:block></td>
        </tr>
        <tr>
            <td><b>Client Browser</b></td>
            <td><th:block th:utext="${#request.getHeader('User-Agent').split(' ')[0]}"></th:block></td>
        </tr>
        <tr>
            <td><b>Client OS</b></td>
            <td><th:block th:utext="${#request.getHeader('User-Agent').split(' ')[1].substring(1)}"></th:block></td>
        </tr>
        <tr>
            <td><b>Balloon Color </b></td>
            <td><th:block th:utext="${#session.getAttribute('color')}"></th:block></td>
        </tr>
        <tr>
            <td><b>Balloon Size </b></td>
            <td><th:block th:utext="${#session.getAttribute('size')}"></th:block></td>
        </tr>
    </table>

    <br>
    <div>
        <form th:action="@{/ConfirmationInfo}", method="POST">
            <input type="submit" value="Log Out">
        </form>
    </div>
    <div>
        <a class="btn btn-outline-success" th:href="@{'balloons/orders'}">See orders</a>
    </div>

</section>
</body>
</html>