<html xmlns:sec="">
<head>
    <http>
        ...
        <headers disabled="true"/>
    </http>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }

        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: auto;

            text-decoration: none;
            color: initial;
            background: coral;
            text-decoration-style: solid;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
    <td class="text-right">


        <form th:action="@{/}", method="POST">
        <h2>Choose balloon color:</h2>
        <!--/*@thymesVar id="balloons" type="mk.ukim.finki.wp.lab.model.Balloon"*/-->
        <div th:each="balloon: ${balloons}"><!--/*@thymesVar id="balloon" type="mk.ukim.finki.wp.lab.model.Balloon"*/-->
            <input type="radio" name="color"  th:value="${balloon.getName()}"  />
            <th:span th:text="${balloon.getDescription() + '   ->   ' + balloon.getManufacturer().getName()}"></th:span>

            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-outline-danger btn-sm" th:href="@{'/balloons/delete/{id}' (id=${balloon.getId()})}">Delete</a>
                <a class="btn btn-outline-warning btn-sm" th:href="@{'/balloons/edit-form/{id}' (id=${balloon.getId()})}">Edit</a>
            </th:block>
        </div>
        <br/>
        <input type="submit" class="btn btn-success" value="Submit">
    </form>

    <a class="btn btn-outline-success" th:href="@{'/balloons/add'}">Add a new ballon</a>

    <!--    <h2>Choose balloon color:</h2>-->
    <!--    <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>-->
    <!--    <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>-->
    <!--    <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>-->
    <!--    <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>-->

    <!--    <br/>-->
    <!--    <a href="/selectBalloonSize.html">Submit</a>-->
</main>
</body>
</html>